beautifulsoup4==4.7.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
configparser==3.7.4
Flask==1.0.2
future==0.18.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
requests==2.31.0
soupsieve==1.7.2
urllib3==1.26.5
virtualenv==16.5.0
Werkzeug==2.2.3
