beautifulsoup4==4.7.1
certifi==2024.7.4
chardet==3.0.4
Click==7.0
configparser==3.7.4
Flask==2.2.5
future==0.18.3
gunicorn==19.9.0
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
mccabe==0.6.1
requests==2.32.2
soupsieve==1.7.2
urllib3==1.26.19
virtualenv==20.26.6
Werkzeug==3.0.6
