{% extends "/ck2_template.html" %}
{% block content %}
<h2>Expanding your realm</h2>
<br>
<h3>Warfare</h3>
<p>
  There are a couple of ways of expanding your realm. The more forceful way of
  expanding is through warfare. I order to declare war you need a Casus Belli, a
  reason for war.
  <ul>
    <li>
      <b>Pressing claims:</b> You can press your own on other lands if the
      land in question is part of your duchy, kingdom, or empire. If you do not
      have claims to press, you can use your Chancellor to fabricate a claim on
      land you want. You also have the option of inviting title claimants to
      your court and pressing their claims.
    </li>
    <li>
      <b>Religious  wars:</b> If you border land near people of a different religious
      group than you, you can declare a religious war. If you win you will be
      able to take whole duchies fro your opponent.
    </li>
  </ul>
</p><br>
<h3>Diplomacy</h3>
<p>
  If fighting wars is not your thing, then maybe try dipolmacy! There are a couple
  of ways to diplomatically expand.
  <ul>
    <li>
      <b>Diplomatic vassalization:</b> If you are at least two ranks higher than
      your target, you are their de jure liege, and they are the same culture as
      you then that character is likely to peacefully join your nation.
    </li>
    <li>
      <b>Marriage:</b> If you can not claim land in a war, then why not marry up?
      Through careful planning and a bit of intrigue you can set your future heirs
      up more land. You can try to marry power families in hopes to inherit their
      land and power, you can ensure it happens with a couple of well placed assassins.
    </li>
  </ul>
</p>
{% endblock content %}
